<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form id="test-form">
            <input id="text-to-send" type="text" />
            <button id="test-form-button">GO!</button>
        </form>
    </div>

    <div id="recieved">
        <!--Server return messages go here-->
    </div>
    <script src="https://unpkg.com/jquery"></script>
    <script src="/static/index.js"></script>
</body>

</html>