<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Select</title>
</head>
<body>
  <div>
    <form id="room-select-form" action="/room">
        <label>Room: </label>
        <input id="room-select" name="room" type="text"/>
        <button id="room-select-button">GO!</button>
    </form>
</div>
<script src="https://unpkg.com/jquery"></script>
<script src="/static/roomSelect.js"></script>
</body>
</html>